.row
  .large-10.large-centered.columns
    %h1= @feedback.title

    - if belongs_to_current_user?
      .instruction= "Your URL: #{feedback_url(@feedback)}"
      %hr
      %h3=amount_of_comments
      %hr
      %ul.comments.no-bullet
        = render @comments
      = link_to "Back to list of all feedbacks", feedbacks_path, class: "button radius"
    -if !belongs_to_current_user?        
      = render "shared/comment_form"
